 /*-- BODY ---- */
 body  {
        height:100%;
        width: 100%;
        background: url("../img/background.jpg") center top  fixed;  
        background-size:cover;
        color: #000;
        font-family: "Open Sans", sans-serif;
  }
  body::after {
        content: "";
        background: rgb(0, 0, 0);
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
  }

  .header {
    overflow: hidden;
    background-color: #ffffffb6;
    padding: 1px 1px;
  }
 
  .header .logo{
    margin-left: 10%;
    margin-bottom: 8px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 5px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
    
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }


  .header-expand{
    background-color: rgb(97,97,97);
    width: auto;
    height: 40px;
    align-items: center;
    padding-left: 8%;
    padding-top: 8px;
  }

  .pages-button{
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    width: auto;
    height: 24px;
    padding:  8px,0,0,8px;
    justify-content: space-between;
    background-color: #ff8b00;
  }
  .pages-button p{
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    font-family: 'Oxygen',sans-serif;
    text-align: center;
  }

  button{
    outline: none;
    cursor: pointer;
    border: none;
  }
  /* --- SEARCH HEADER ---*/

  .Rectangle {
    width: 40px;
    height: 1px;
    margin-bottom: 8px;
    margin-right: 20px;
    background-color: #00000033;
    transform: rotate(100grad);
    display: inline-block ;
  }
  .logo_cli{
    margin-top: 0px;
  }

  .search{
    display: inline-block;
    margin-left: 40px;
  }
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
}
  
.icon {
    padding: 5px;
    color: #ff8b00;
    min-width: 50px;
    text-align: center;
    font-size: 25px;
    
}
  
.input-icons .search-field {
  width: 640px;
  height: 36px;
  text-align: center;
  font-size: medium;
  font-family: "Oxygen", sans-serif;
  letter-spacing: .55px;
  color: rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  border: 1.5px solid #d3d3d3;
}
.input-icons .search-options{
  background-color: aqua;
}
.input-icons .search-field::placeholder {
  width: 440px;
  height: 36px;
  text-align: center;
  font-size: medium;
  font-family: "Oxygen", sans-serif;
  letter-spacing: .55px;
  color: rgba(0, 0, 0, 0.23);

}
.input-icons .search-field:hover,.input-icons .search-field:focus{
  border: 1.5px solid #ff8b00;
  border-radius: 05px;
  outline: none;
}

  
h2 {
    color: #ff8b00;
}

* {
  scrollbar-width: thin;
    scrollbar-color: #BBB #EEE;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff8c00cc;
  border-radius: 10px;
}

input[list]:focus {
    outline: none;
}
input[list] + div[list] {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 164px;
    overflow-y: auto;
    width: 440px;
    background: rgb(255, 255, 255);
    border: var(--border);
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 3px -3px #333;
    z-index: 100;
}
input[list] + div[list] span {
    display: block;
    padding: 2px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-family: "Oxygen", sans-serif;
    color: rgba(0, 0, 0, 0.53);
}

input[list] + div[list] span:not(:last-child) {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.034);
}
input[list] + div[list] span:hover {
    background: rgba(100, 120, 140, .2);
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: absolute;
  margin-top: 20px;
  margin-left: 2%;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #ff8c00;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-90%);
}

label:active:after {
	width: 50px;
}
.checkbox_text{
  width: auto;
  height: auto;
  display: inline-block ;
  margin-left: 80px;
  font-size: 13px;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0cm;
  line-height: 1;
  color: rgba(0, 0, 0, 0.43);
}

.checkbox_text p{
  font-size: 13px;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0cm;
  line-height: 1;
  font-stretch: normal;
  color: rgba(0, 0, 0, 0.43);
  text-align:center;
}

.full-screen-btn{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.13);
  font-size: 20px;
  margin-left: 30px;
}

.full-screen-btn:hover{
  background-color: rgba(0, 0, 0, 0.33);
  font-size: 20px;
}
.full-screen-btn :hover{
  background-color: rgba(0, 0, 0, 0.33);
}

.ion-android-expand:hover{
  color: #fff;
}
.ion-android-expand:focus{
  color: rgba(0, 0, 0, 0.33);
}
.user-profile{
  width: auto;
  height: 55px;
  display: inline;
  margin-left: 40px;
}
.user-profile .avatar{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.user-profile button
{
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}
variebles{
   --color: #ff8b00;
}
.user-profile p
{
  font-family: 'Oxygen',sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: 0.15px;
  color: #ff8b00;
  outline: none;
  border: none;
}

.user-profile i
{
  margin-left: 20px;
}


/* --- SEARCH HEADER ---*/





/*-- LOGIN_BOX ---- */
  .container_box {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
  }

  .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 336px 104px 0;
        width: 508px;
        height: 568px;
        padding: 12px 15px 58px 31px;
        border-radius: 4px;
        background-color: white;
        cursor:default;
  }

  img.LogoAplication {
    width: 299px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    object-fit: contain;
  }

  .Seja_Bem_Vindo {
    width: auto;
    height: auto;
    margin-top: 165px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-family:"Oxygen", sans-serif;
    font-size: 30px;
    font-weight: 70;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: -0.27px;
    text-align: center;
    color: #ff8b00;
  }

  .input_label{
    padding:40px;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  .textOnInput {
    position: relative;
}
.textOnInput label {
    position: absolute;
    top: -15px;
    left: 23px;
    padding: 2px;
    z-index: 1;
}
.textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
label {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
    color: rgba(68, 68, 68, 0.651);
}

.textOnInput input {
    height: 45px;
}
.show,
.hide{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 25px;
  color: #ff8b00;
}

.form-control {
    box-shadow: none !important;
}

/* SUBIMIT ESQUECEU E LEMBRAR DE MIM */
.submit_label{
  padding:40px;
  margin-top: 350px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  
}
.submit_label button[type="submit"] {
  background: #ff8b00;
  border: 0;
  padding: 10px 30px;
  color: #ffff;
  transition: 0.4s;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 50px;
}
.submit_label button[type="submit"]:hover {
  background: #ffff;
  color: #ff8b00;
  border: 1px solid #ff8b00;
}



/* CHECKBOX PERSONALISADO */
.container_check {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Oxygen", sans-serif";
}

/* Hide the browser's default radio button */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ff8b00;
  border-radius: 50%;
}

.container_check:hover input ~ .checkmark {
  background-color: rgb(255, 255, 255);
}

.container_check input:checked ~ .checkmark {
  border: 5px solid #ff8b00;
  border-radius: 50%;
}

div.check {
  float:left;
  font-size: 3vw;
  text-align: center;
  cursor: default;
}

div.help {

  float:right;
  margin-right: 0vw;
  font-size: 3vw;
  text-align: center;
  float:right;
}
div a{
  color: #ff8b00;
}
div a :focus{
  color: #ff8b00;
}
div a:hover{
  color: gray;
}
.clean{clear:both;}

footer {
  text-align: center;
  padding: 1px;
  background-color: #ff8b00;
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  white-space: inherit;
}
footer p{
  margin-top: 10px;
}
footer a{
  color:#ff8b00;
  background-color: #fff;
  border-radius: 15px;
  text-size-adjust: 5px;
}
/* POPUP */

.popup .overlay{
  position: fixed;
  top:0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

.popup .content{
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%,50%) scale(0);
  background: white;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
}
.popup .close-btn{

  cursor: pointer;
  position: relative;
  left: 92%;
  bottom: 10px;
  width: 40px;
  height: 30px;
  background: #ff8b00;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 10%;
}
.popup.active .overlay{
  display:block ;
}
.popup.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%,50%) scale(1);
}
.popup h1{
  color: #ff8b00;
  font-size: 25px;
}
