:root {
  --bg-color: #ffffffb6;
  --primary-color:#ff8b00;
  --box-fav-color:#f372222a;
}

/*-- BODY ---- */
body  {
    height:100%;
    width: 100%;
    background: url("../img/background.jpg") center top  fixed;  
    background-size:cover;
    color: #000;
    font-family: "Oxygem", sans-serif;
    position:absolute;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
  display: none;
}

body::after {
    content: "";
    background: rgb(0, 0, 0);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7);
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid rgba(0, 0, 0, 0);
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.header {
  background-color: var(--bg-color);
  padding: 1px 1px;
  width: 100%;
  display: flex;
}
.header #header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
}
.icon-menu{
  font-size: 50px;
  margin-right: 5%;
  color: var(--primary-color);
  cursor: pointer;
}

.header .logos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .buttons{
  margin-left: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}


.header-expand{
  background-color: rgb(97,97,97);
  width: auto;
  height: 0;
  align-items: center;
  overflow-y: hidden;
  transition: 0.5s;
}





.pages-button{
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  width: auto;
  height: 24px;
  margin: 10px 155px  ;
  background-color: var(--primary-color);
}

.pages-button .span{
  background-color: var(--primary-color);
}

.pages-button p{
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 12px;
  color: #fff;
  font-size: 15px;
  font-family: 'Oxygen',sans-serif;
  text-align: center;
}

button{
  outline: none;
  cursor: pointer;
  border: none;
  background:none;
}
button:hover,button:focus{
  outline: 0 none;
}
/* --- SEARCH HEADER ---*/

.Rectangle {
  width: 40px;
  height: 1px;
  margin-bottom: 8px;
  margin-right: 20px;
  background-color: #00000033;
  transform: rotate(100grad);
  display: inline-block ;
}
.logo_cli{
  margin-top: 0px;
}

.search{
  display: inline-block;
  margin-left: 40px;
}
.input-icons i {
  position: absolute;
  display: flex;
  justify-content: center;

}

.input-icons {
  width: 100%;
}

.icon {
  padding: 5px;
  color: var(--primary-color);
  min-width: 50px;
  text-align: center;
  font-size: 25px;
}

.input-icons .search-field {
  width: 440px;
  height: 36px;
  text-align: center;
  font-size: medium;
  font-family: "Oxygen", sans-serif;
  letter-spacing: .55px;
  color: rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  border: 1.5px solid #d3d3d3;
}
.input-icons .search-options{
  background-color: aqua;
}
.input-icons .search-field::placeholder {
  width: 440px;
  height: 36px;
  text-align: center;
  font-size: medium;
  font-family: "Oxygen", sans-serif;
  letter-spacing: .55px;
  color: rgba(0, 0, 0, 0.23);

}
.input-icons .search-field:hover,.input-icons .search-field:focus{
  border: 1.5px solid var(--primary-color);
  border-radius: 05px;
  outline: none;
}


h2 {
color: var(--primary-color);
}

* {
scrollbar-width: thin;
scrollbar-color: #BBB #EEE;
}

*::-webkit-scrollbar {
width: 10px;
}

*::-webkit-scrollbar-track {
background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff8c00cc;
  border-radius: 10px;
}

input[list]:focus {
outline: none;
}

input[list] + div[list] {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 164px;
  overflow-y: auto;
  width: 440px;
  background: rgb(255, 255, 255);
  border: var(--border);
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 3px -3px #333;
  z-index: 100;
}
input[list] + div[list] span {
  display: block;
  padding: 2px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
  color: rgba(0, 0, 0, 0.53);
}

input[list] + div[list] span:not(:last-child) {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.034);
}
input[list] + div[list] span:hover {
  background: rgba(100, 120, 140, .2);
}


input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.buttons label {
  margin: 5px 15px 0px 0px;
  cursor: pointer;
  text-indent: -9999px;
  width: 15%;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.buttons label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #ff8c00;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-90%);
}

label:active:after {
  width: 50px;
}
.checkbox_text{
  width: auto;
  height: auto;
  display: inline-block ;
  font-size: 13px;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0cm;
  line-height: 1;
  color: rgba(0, 0, 0, 0.43);
}

.checkbox_text p{
  font-size: 13px;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0cm;
  line-height: 1;
  font-stretch: normal;
  color: rgba(0, 0, 0, 0.43);
  text-align:center;
}

.full-screen-btn{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.048);
  font-size: 20px;
  margin-left: 2%;
}

.full-screen-btn:hover{
  background-color: rgba(0, 0, 0, 0.33);
  font-size: 20px;
}
.full-screen-btn :hover{
  background-color: rgba(0, 0, 0, 0.33);
}

.ion-android-expand:hover{
  color: #fff;
  outline: 0 none;
}
.ion-android-expand:focus{
  color: rgba(0, 0, 0, 0.33);
  border: none;
  outline: 0 none;
}
.user-area{
  display: flex;
  align-items: flex-end;
}
.user-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 55px;
  margin-left: 10%;
}
.user-profile i{
  color: var(--primary-color);
  cursor: pointer;
}
.user-profile .avatar{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.user-profile button
{
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
}
.user-profile .dropbtn {
  color: var(--primary-color);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.user-profile .dropdown {
  position: relative;
  display: inline-block;
}

.user-profile .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffffee;
  min-width: 160px;
  border-radius: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-profile .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  justify-content: center;
  width: 160px;
}

.user-profile .dropdown-content a:hover {background-color: var(--primary-color);}

.user-profile .dropdown:hover .dropdown-content 
{ 
  transition: 5.5s ;
  display: block;
}

.user-profile .dropdown:hover .dropbtn {background-color: #ffffff1a;border-radius: 5%;}

/*---
  DASHBOARD
---*/

#dashboard{
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
}
#dashboard .box-container{
  width: 100%;  
  padding: 80px;
}
#dashboard .box {

  width: auto;
  height: 510px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #fff
}

#dashboard .box:hover,.box-fav:hover{

  transition: 0.3s;
  transform: scale(1.07);
}

#dashboard .box-fav {

  width: auto;
  height: 510px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--box-fav-color);
}

#dashboard .box-row{
  margin-bottom: 30px;
}

#dashboard .title{
  background-color: #e0e0e0;
  height: auto;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 2px 7px 3px 15px;
  font-family:'Oxygen', sans-serif;
  font-size: 32px;
  text-align: center;
}

#dashboard .title-fav{
  background-image: linear-gradient(80deg, #f7b733 16%, #fc691b 98%);
  height: auto;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 2px 7px 3px 15px;
  font-family:'Oxygen', sans-serif;
  font-size: 32px;
  text-align: center;
}

#dashboard .more-icon{
  float: right;
  margin-right: 25px;
  cursor: pointer;
}
#dashboard #periodo-seletor {
  display: flex;
  justify-content: center;
}

#dashboard input[type="datetime-local"] {

  width: 245px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(0, 0, 0, 0.134);
  font-family: 'Oxygen',sans-serif;
}

#dashboard #periodo-seletor label{
 font-family: 'Oxygen',sans-serif;
 font-size: 15px;
 color: rgba(0, 0, 0, 0.54);
}

/*MENU*/

#menu-box .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.9;
}

#menu-box .sidebar a {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#menu-box .sidebar a:hover {
  color: #f1f1f1;
}

#menu-box .sidebar .closebtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}

#menu-box .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

#menu-box .openbtn:hover {
  background-color: #444;
}
#menu-box .sidebar #title{
  padding: 0px 0px 0px 32px;
  margin-top: 1px;
  border-radius: 5px;
  background-image: linear-gradient(79deg, #f7b733 16%, #fc691b 98%);
  position: absolute;
  top: 0;
  width: 100%;
}
#menu-box .sidebar p{
 margin-top: 15px;
 text-align: left;
 font-family:'Oxygen',sans-serif;
 font-size: 22px;
 color: #fff;
 font-style: bold;
 font-stretch: ultra-condensed;
}


#body {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}



/* Mobile  */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

/* Mobile Nav body classes */

body.mobile-nav-active #mobile-nav {
  left: 0;
}
body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) {

}

@media (max-width:1367px) {
  .input-icons .search-field {
    width: 240px;
    font-size: 12px;
  }

  .input-icons .search-options{
    background-color: aqua;
  }
  .input-icons .search-field::placeholder {
    width: 240px;
    height: 36px;

  }
  input[list] + div[list] {

    width: 240px;

  }
}  

@media (max-width:1160px) {
  .full-screen-btn{
    display: none;
  }
}


@media (min-width: 992px)and (orientation:portrait) {

}
@media (min-width: 1024px)and (orientation:portrait) {

  
}
@media (max-width: 768px) {

}
@media (orientation: landscape) and (min-width:768px)and (max-width:1080px) {
  #intro p {
    font-size: 15px;
  }
  #intro h2 {
    font-size: 28px;
  }

}
