 /*-- BODY ---- */
 body  {
        height:100%;
        width: 100%;
        /*background: url("../img/background.jpg") center top  fixed;*/
        background: rgba(0, 0, 0, 0.514);
        background-size:cover;
        color: #000;
        font-family: "Open Sans", sans-serif;
  }
  body::after {
        content: "";
        background: white;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
  }

  .header {
    overflow: hidden;
    background-color: #ffffffb6;
    padding: 1px 1px;
  }
 
  .header .logo{
    margin-left: 10%;;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 5px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ff8c0010;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  

/*-- LOGIN_BOX ---- */
  .container_box {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
  }

  .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 336px 104px 0;
        width: 508px;
        height: 568px;
        padding: 12px 15px 58px 31px;
        border-radius: 4px;
        background-color: white;
        cursor:default;
  }

  img.LogoAplication {
    width: 299px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    object-fit: contain;
  }

  .Seja_Bem_Vindo {
    width: auto;
    height: auto;
    margin-top: 165px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-family:"Oxygen", sans-serif;
    font-size: 30px;
    font-weight: 70;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: -0.27px;
    text-align: center;
    color: #ff8b00;
  }

  .input_label{
    padding:40px;
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  .textOnInput {
    position: relative;
}
.textOnInput label {
    position: absolute;
    top: -15px;
    left: 23px;
    padding: 2px;
    z-index: 1;
}
.textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
label {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
    color: rgba(68, 68, 68, 0.651);
}

.textOnInput input {
    height: 45px;
}
.show,
.hide{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 25px;
  color: #ff8b00;
}

.form-control {
    box-shadow: none !important;
}

/* SUBIMIT ESQUECEU E LEMBRAR DE MIM */
.submit_label{
  padding:40px;
  margin-top: 350px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  
}
.submit_label button[type="submit"] {
  background: #ff8b00;
  border: 0;
  padding: 10px 30px;
  color: #ffff;
  transition: 0.4s;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  margin-top: 50px;
}
.submit_label button[type="submit"]:hover {
  background: #ffff;
  color: #ff8b00;
  border: 1px solid #ff8b00;
}



/* CHECKBOX PERSONALISADO */
.container_check {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Oxygen", sans-serif";
}

/* Hide the browser's default radio button */
.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ff8b00;
  border-radius: 50%;
}

.container_check:hover input ~ .checkmark {
  background-color: rgb(255, 255, 255);
}

.container_check input:checked ~ .checkmark {
  border: 5px solid #ff8b00;
  border-radius: 50%;
}

div.check {
  float:left;
  font-size: 3vw;
  text-align: center;
  cursor: default;
}

div.help {

  float:right;
  margin-right: 0vw;
  font-size: 3vw;
  text-align: center;
  float:right;
}
div a{
  color: #ff8b00;
}
div a :focus{
  color: #ff8b00;
}
div a:hover{
  color: gray;
}
.clean{clear:both;}

footer {
  text-align: center;
  padding: 1px;
  background-color: #ff8b00;
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  white-space: inherit;
}
footer p{
  margin-top: 10px;
}
footer a{
  color:#ff8b00;
  background-color: #fff;
  border-radius: 15px;
  text-size-adjust: 5px;
}
/* POPUP */

.popup .overlay{
  position: fixed;
  top:0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: none;
}

.popup .content{
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%,50%) scale(0);
  background: white;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: justify;
  padding: 20px;
  box-sizing: border-box;
}
.popup .close-btn{

  cursor: pointer;
  position: relative;
  left: 92%;
  bottom: 10px;
  width: 40px;
  height: 30px;
  background: #ff8b00;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 10%;
}
.popup.active .overlay{
  display:block ;
}
.popup.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%,50%) scale(1);
}
.popup h1{
  color: #ff8b00;
  font-size: 25px;
}
